.accordion-button{
    color:  #046036;;
        font:bold;
        background-color: #a0c0b1;
        border:none;

}

.accordion-button::after{
    color: #212529;
    // font:bold; 
    border:none;

}

.accordion2{
            background-color: #a0c0b1;
            color: #046036;
}

.collapse{
    color: #046036;
}


