<p>add-income works!</p>
<meta charset="utf-8" />
  <div class="wrapper">
    <div class="logo">
        <img src="../../../../assets/image/Logo.jpg" alt="">
    </div>
    <div class="text-center mt-4 name">
        in & out
    </div>
    
    <form class="p-3 mt-3" [formGroup]="eventForm" (ngSubmit)="AddIncome()" >

 
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input type="datetime"  id="Date" placeholder="תאריך ההוצאה"
             formControlName="Date" name="Date" />
        </div>
 
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input type="number"  id="Sum" placeholder="סכום"
             formControlName="Sum" name="Sum" />
        </div>

   <!-- <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input type="number"  id="Category" placeholder="קטגוריה"
            formControlName="Category" name="Category" />
        </div> -->

         <!-- לבחור מתוך תיבה נפתחת -->
         <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <select placeholder="קטגוריה" [formControl]="Category" required>
                <option>בחר קטגוריה</option>
                <option *ngFor="let t of listTypeCategory" [value]="t.id" >
                    {{t.detail}}
                </option>
            </select>
            <!-- <input type="number"  id="TypeBudget" placeholder="סוג תקציב" -->
            <!-- formControlName="TypeBudget" name="TypeBudget" /> -->
        </div>



        <!-- <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input type="number"  id="SourceOfIncome" placeholder="מקור הכנסה"
            formControlName="SourceOfIncome" name="SourceOfIncome" />
        </div> -->

         <!-- לבחור מתוך תיבה נפתחת -->
         <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <select placeholder="מקור הכנסה" [formControl]="SourceOfIncome" required>
                <option>בחר מקור הכנסה</option>
                <option *ngFor="let t of listTypeSourceOfIncome" [value]="t.CategoryIncome" >
                    {{t.detail}}
                </option>
            </select>
            <!-- <input type="number"  id="TypeBudget" placeholder="סוג תקציב" -->
            <!-- formControlName="TypeBudget" name="TypeBudget" /> -->
        </div>

 
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input type="text"  id="Detail" placeholder="פרטים"
            formControlName="Detail" name="Detail" />
        </div>

        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input type="number"  id="PaymentMethod" placeholder="אופן התשלום"
            formControlName="PaymentMethod" name="PaymentMethod" />
        </div>
  
        <div class="form-field d-flex align-items-center">
            <span class="fas fa-key"></span>
            <input type="number"  id="Status" placeholder="סטטוס"
            formControlName="Status" name="Status" />

        </div>

        <div class="form-field d-flex align-items-center">
            <span class="fas fa-key"></span>
            <input type="text"  id="Document" placeholder="צירוף מסמך"
            formControlName="Document" name="Document" />

        </div>
        <button class="btn mt-3" type="submit" [disabled]="!eventForm.valid">הוסף</button>

    </form>
   
</div>
