<div class="form-dialog wrapper">

    <div class="text-center mt-4 name">
        הוספת הכנסה
     </div> 
 
    <form class="p-3 mt-3" [formGroup]="eventForm" (ngSubmit)="AddIncome()" >
        <div class="row">
 
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input type="date"  id="date" placeholder="תאריך ההכנסה"
             formControlName="date" name="date" required/>
        </div>
 
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input type="number"  id="sum" placeholder="סכום"
             formControlName="sum" name="sum" required/>
        </div>

  

         <!-- בחירה מתוך תיבה נפתחת -->
         <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <select class="form-field d-flex align-items-center"
            placeholder="בחר קטגוריה" formControlName="categoryIncome" required>
                <option type="number" *ngFor="let t of listTypeCategory" [ngValue]="t.id" required>
                    <label> {{t.detail}} </label>  
                </option>
            </select>
            <!-- <input type="number"  id="TypeBudget" placeholder="סוג תקציב" -->
            <!-- formControlName="TypeBudget" name="TypeBudget" /> -->
        </div>

         <!-- לבחור מתוך תיבה נפתחת -->
          <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <select class="form-field d-flex align-items-center" placeholder="מקור הכנסה"  formControlName="sourceOfIncome" required>
                <option *ngFor="let t of listTypeSourceOfIncome" [ngValue]="t.id" >
                    <label> {{t.detail}} </label>  
                </option>
            </select> 
            <!-- <input type="number"  id="TypeBudget" placeholder="סוג תקציב" -->
            <!-- formControlName="TypeBudget" name="TypeBudget" /> -->
        </div>

 
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input type="text"  id="detail" placeholder="פרטים"
            formControlName="detail" name="detail" required />
        </div>

      
           <!-- לבחור מתוך תיבה נפתחת -->
           <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <select class="form-field d-flex align-items-center" placeholder="בחר אופן התשלום" 
             formControlName="paymentMethod" required>
                <option *ngFor="let t of listTypePaymentMethod" [ngValue]="t.id" >
                    <label> {{t.detail}} </label>  
                </option>
            </select>
            <!-- <input type="number"  id="TypeBudget" placeholder="סוג תקציב" -->
            <!-- formControlName="TypeBudget" name="TypeBudget" /> -->
        </div>
  
   
           <!-- לבחור מתוך תיבה נפתחת -->
           <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <select class="form-field d-flex align-items-center" placeholder="בחר סטטוס"
              formControlName="status" required>
                <option *ngFor="let t of listTypeStatus" [ngValue]="t.id" >
                    <label> {{t.detail}} </label>  
                </option>
            </select>
            <!-- <input type="number"  id="TypeBudget" placeholder="סוג תקציב" -->
            <!-- formControlName="TypeBudget" name="TypeBudget" /> -->
        </div>

        <div class="form-field d-flex align-items-center">
            <span class="fas fa-key"></span>
            <input type="text"  id="document" placeholder="צירוף מסמך"
            formControlName="document" name="document" />

        </div>
        <button class="btn mt-3" type="submit" [disabled]="!eventForm.valid">הוסף</button>
        </div>

    </form> 
   
</div>
