/* You can add global styles to this file, and also import other style files */
// .bg-image-vertical {
//     position: relative;
//     overflow: hidden;
//     background-repeat: no-repeat;
//     background-position: right center;
//     background-size: auto 100%;
//     }
    
//     @media (min-width: 1025px) {
//     .h-custom-2 {
//     height: 100%;
//     }
//     }
/* Importing fonts from Google */

.alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
  }
  .modal-dialog{
    margin: 8rem auto !important;
}
.modal-content{
    margin:0 auto !important;
    border-radius: 15px;
    border: none !important;
}
  
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* Reseting */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif,'Calibri' , 'Tahoma', Times, 'Times New Roman', serif

}
// table{
//         font-family: 'Calibri' , 'Tahoma', Times, 'Times New Roman', serif

// }
body {
    background: #ddf3e9;
    direction: rtl;
    font-family: 'Poppins', sans-serif;

    //למה לא משפיע על הגופן?
    font-family: 'Calibri' , 'Tahoma', Times, 'Times New Roman', serif
}
.btn-outline-success2{
    padding:  20px;
    border: none;
    color:   #a0c0b1;

}

.nav-tabs {
    border-bottom: 3px solid #a0c0b1;
    background-color: #105e3a;
    justify-content: space-around;
        flex-basis: 1500px;

}

// .nav-item{
//     flex-basis: 400px;

// }
.nav-link{
   color: #105e3a;
}
 .nav-link.active, .nav-pills .show>.nav-link {
    color: #105e3a;
    background-color: rgb(100, 189, 136);
    justify-content: space-around;

}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #105e3a;
    background-color: rgb(100, 189, 136);
    justify-content: space-around;

}

.wrapper:not(.form-dialog) {
    max-width: 350px;
    min-height: 500px;
    margin: 80px auto;
    padding: 40px 30px 30px 30px;
    background-color: #ecf0f3;
    border-radius: 15px;
    box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;
}

.logo {
    width: 80px;
    margin: auto;
    
}

.logo img {
    width: 100%;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0px 0px 3px #5f5f5f,
        0px 0px 0px 2px #ecf0f3,
        2px 3px 6px #a7aaa7,
        -2px -3px 6px #fff;
}

.wrapper .name {
    font-weight: 600;
    font-size: 1.4rem;
    letter-spacing: 1.3px;
    padding-left: 10px;
    color: #25870a;
    font-weight: bold;

}

.wrapper .form-field input {
    width: 100%;
    display: block;
    border: none;
    outline: none;
    background: none;
    font-size: 1.2rem;
    color: #666;
    padding: 10px 15px 10px 10px;
    border-radius: 20px;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff;
    /* border: 1px solid red; */
}

.wrapper .form-field select {
    width: 100%;
    display: block;
    border: none;
    outline: none;
    background: none;
    font-size: 1.2rem;
    color: #666;
    padding: 10px 15px 10px 10px;
    border-radius: 20px;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff;
    /* border: 1px solid red; */
}

// .wrapper .form-field {
//     padding-left: 10px;
//     margin-bottom: 20px;
//     border-radius: 20px;
//     box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff;
// }
.wrapper .form-field .fas {
    color: #555;
}

.wrapper .btn {
    box-shadow: none;
    width: 100%;
    height: 40px;
    background-color:  #25870a;
    color: #fff;
    border-radius: 25px;
    box-shadow: 3px 3px 3px #b1b1b1,
        -3px -3px 3px #fff;
    letter-spacing: 1.3px;
}

.wrapper .btn:hover {
    background-color:    #25870a;
}

.wrapper a {
    text-decoration: none;
    font-size: 0.8rem;
    color: #25870a;
    text-decoration: underline;
}

.wrapper a:hover {
    color:  #25870a;
    font-weight: bold;


}

@media(max-width: 380px) {
    .wrapper {
        margin: 30px 20px;
        padding: 40px 15px 15px 15px;
    }
}

input,a,select{
    text-align :right;
}

.form-container{
    background: linear-gradient(#25870a,#1b6107);
    font-family: 'Roboto', sans-serif;
    font-size: 0;
    padding: 0 15px;
    border: 1px solid #25870a;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
}
.form-container .form-icon{
    color: #fff;
    font-size: 13px;
    text-align: center;
    text-shadow: 0 0 20px rgba(0,0,0,0.2);
    width: 50%;
    padding: 70px 0;
    vertical-align: top;
    display: inline-block;
}
.form-container .form-icon i{
    font-size: 124px;
    margin: 0 0 15px;
    display: block;
}
.form-container .form-icon .signup a{
    color: #fff;
    text-transform: capitalize;
    transition: all 0.3s ease;
}
.form-container .form-icon .signup a:hover{ text-decoration: underline; }
.form-container .form-horizontal{
    background: rgba(255,255,255,0.99);
    width: 50%;
    padding: 60px 30px;
    margin: -20px 0;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    display: inline-block;
}
.form-container .title{
    color: #454545;
    font-size: 23px;
    font-weight: 900;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    margin: 0 0 30px 0;
}
.form-horizontal .form-group{
    background-color: rgba(255,255,255,0.15);
    margin: 0 0 15px;
    border: 1px solid #b5b5b5;
    border-radius: 20px;
}
.form-horizontal .input-icon{
    color: #b5b5b5;
    font-size: 15px;
    text-align: center;
    line-height: 38px;
    height: 35px;
    width: 40px;
    vertical-align: top;
    display: inline-block;
}
.form-horizontal .form-control{
    color: #b5b5b5;
    background-color: transparent;
    font-size: 14px;
    letter-spacing: 1px;
    width: calc(100% - 55px);
    height: 33px;
    padding: 2px 10px 0 0;
    box-shadow: none;
    border: none;
    border-radius: 0;
    display: inline-block;
    transition: all 0.3s;
}
.form-horizontal .form-control:focus{
    box-shadow: none;
    border: none;
}
.form-horizontal .form-control::placeholder{
    color: #b5b5b5;
    font-size: 13px;
    text-transform: capitalize;
}
.form-horizontal .btn{
    color: rgba(255,255,255,0.8);
    background: #0b9135;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    width: 100%;
    margin: 0 0 10px 0;
    border: none;
    border-radius: 20px;
    transition: all 0.3s ease;
}
.form-horizontal .btn:hover,
.form-horizontal .btn:focus{
    color: #fff;
    background-color: #25870a;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.form-horizontal .forgot-pass{
    font-size: 12px;
    text-align: center;
    display: block;
}
.form-horizontal .forgot-pass a{
    color: #999;
    transition: all 0.3s ease;
}
.form-horizontal .forgot-pass a:hover{
    color: #777;
    text-decoration: underline;
}
@media only screen and (max-width:576px){
    .form-container{ padding-bottom: 15px; }
    .form-container .form-icon{
        width: 100%;
        padding: 20px 0;
    }
    .form-container .form-horizontal{
        width: 100%;
        margin: 0;
    }
}