<p>פירוט הוצאות
</p>
<!--
<button (click)="ShowAllExpenses()">
    הצג כל ההוצאות
  </button>

 <p>
    <label >הכנס קטגוריה: </label>
<input  type="text" 
 name="question" [(ngModel)]="CategoryToShow"  >
   {{CategoryToShow}} 

</p>

 <button (click)="ShowExpensesByCategory()">
    הוצאות לפי קטגוריה
  </button> -->


<app-search></app-search>

<table class="table table-success table-striped">
  <thead>
    <tr>
      <th scope="col"> <img style="width: 20px; " title="עריכה" src="../../../../assets/image/Update.png">  </th>
      <th scope="col">תאריך</th>
      <th scope="col">סכום</th>
      <th scope="col">קטגוריה</th>
      <th scope="col">קטגוריה משנית</th>
      <th scope="col">פרטים</th>
      <th scope="col">אופן התשלום</th>
      <th scope="col">הוצאה קבועה</th>
      <th scope="col">סטטוס הוצאה</th>
      <th scope="col"> אסמכתא</th>
      <th scope="col">יתרה מצטברת</th>

    </tr>
  </thead>
  <!-- <tbody *ngFor="let e of ExpensesList; let i=index,  s =0 ;"> -->
  <tbody *ngFor=" let e of ExpensesList; let i=index;">

    <tr>
      <th>
        <button style="border:none" onmouseover="this.style.backgroundColor='#046036'" onmouseout="this.style.backgroundColor=null" scope="row" (click)="UpdateExpense(e)"><img style="width: 20px; " title="עריכה" src="../../../../assets/image/Update.png"></button>
       <!-- onmouseover="this.style.backgroundColor='white'" onmouseout="this.style.backgroundColor=null" scope="row" (click)="UpdateExpense(e)" -->
       </th>
      <td>{{e.date | date: 'dd/MM/yyyy' }}</td>
      <td>{{e.sum | number: '1.0-0' }}</td>
      <td>{{e.categoryDetail}}</td>
      <td>{{e.subcategoryDetail}}</td>
      <td>{{e.detail}}</td>
      <td>{{e.paymentMethodDetail}}</td>
      <td><i *ngIf="e.frequency" class="bi bi-check"></i></td>
      <!-- ngclass example -->
      <!-- <i [ngClass]="{e.frequency?'bi bi-check':'bi bi-check'}"></i> -->
      <td>{{e.statusDetail}}</td>
      <td>{{e.document}}</td>
      <!-- <td>{{s+e.sum | number: '1.0-0' }}</td> -->
      <td>{{SumExpenses(i) | number: '1.0-0' }}</td>

    </tr>


  </tbody>

</table>