 <p>add-expense works!</p>
<meta charset="utf-8" />
  <div class="wrapper">
    <div class="logo">
        <img src="../../../../assets/image/Logo.jpg" alt="">
    </div>
    <div class="text-center mt-4 name">
        in & out
    </div>
    
    <form class="p-3 mt-3" [formGroup]="eventForm" (ngSubmit)="AddExpense()" >

 
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input type="datetime"  id="date" placeholder="תאריך ההוצאה"
             formControlName="date" name="date" />
        </div>
 
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input type="number"  id="sum" placeholder="סכום"
             formControlName="sum" name="sum" />
        </div>

        <!-- בחירה מתוך תיבה נפתחת -->      
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <select class="form-field d-flex align-items-center" placeholder="בחר קטגוריה"  
            formControlName="category" >
                <option type="number" *ngFor="let t of listCategory" [value]="t.id" >
                    <label> {{t.detail}} </label>  
                </option>
            </select>
        </div>

        <!-- בחירה מתוך תיבה נפתחת -->      
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <select class="form-field d-flex align-items-center" placeholder="בחר תת קטגוריה"  
            formControlName="subCategory" required>
                <option  type="text" *ngFor="let t of listSubcategory" [value]="t.id" >
                    <label> {{t.detail}} </label> 
                </option>
            </select>
        </div>
 
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input type="text"  id="detail" placeholder="פרטים"
            formControlName="detail" name="detail" />
        </div>

        <!-- בחירה מתוך תיבה נפתחת -->      
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <select class="form-field d-flex align-items-center" placeholder="בחר אופן תשלום"  
            formControlName="paymentMethod" required>
                <option  type="text" *ngFor="let t of listPaymentMethod" [value]="t.id" >
                    <label> {{t.detail}} </label>  
                </option>
            </select>
        </div>
  
        <div class="form-field d-flex align-items-center">
            <span class="fas fa-key"></span>
            <input type="checkbox"  id="frequency" placeholder="הוצאה קבועה"
            formControlName="frequency" name="frequency" />
        </div>

       <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input type="number"  id="numberOfPayments" placeholder="מספר תשלומים"
            formControlName="numberOfPayments" name="numberOfPayments" />
        </div>

        <!-- בחירה מתוך תיבה נפתחת -->      
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <select class="form-field d-flex align-items-center" placeholder="בחר סטטוס הוצאה"  formControlName="status" required>
                <option  type="checkbox" *ngFor="let t of listStatus" [value]="t.id" >
                    <label> {{t.detail}} </label>  
                </option>
            </select>
        </div>
  
       <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input type="text"  id="document" placeholder="צירוף מסמך"
            formControlName="document" name="document" />
        </div>
        
        <button class="btn mt-3" type="submit" [disabled]="!eventForm.valid">הוסף</button>

    </form>
   
</div> 