<p>add-expense works!</p>
<meta charset="utf-8" />
  <div class="wrapper">
    <div class="logo">
        <img src="../../../../assets/image/Logo.jpg" alt="">
    </div>
    <div class="text-center mt-4 name">
        in & out
    </div>
    
    <form class="p-3 mt-3" [formGroup]="eventForm" (ngSubmit)="AddExpense()" >

 
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input type="datetime"  id="Date" placeholder="תאריך ההוצאה"
             formControlName="Date" name="Date" />
        </div>
 
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input type="number"  id="Sum" placeholder="סכום"
             formControlName="Sum" name="Sum" />
        </div>

        <!-- לבחור מתוך תיבה נפתחת -->
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <select placeholder="קטגוריה"  [formControl]="Category" required>
                <option  type="text" *ngFor="let t of listCategory" [value]="t.id" >
                    {{t.detail}}
                </option>
            </select>
 
            <input type="number"  id="Category" 
            formControlName="Category" name="Category" />
        </div>

        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input type="number"  id="Subcategory" placeholder="תת קטגוריה"
            formControlName="Subcategory" name="Subcategory" />
        </div>
 
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input type="text"  id="Detail" placeholder="פרטים"
            formControlName="Detail" name="Detail" />
        </div>

        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input type="number"  id="PaymentMethod" placeholder="אופן התשלום"
            formControlName="PaymentMethod" name="PaymentMethod" />
        </div>
  
        <div class="form-field d-flex align-items-center">
            <span class="fas fa-key"></span>
            <input type="checkbox"  id="Frequency" placeholder="הוצאה קבועה"
            formControlName="Frequency" name="Frequency" />
        </div>

       <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input type="number"  id="NumberOfPayments" placeholder="מספר תשלומים"
            formControlName="NumberOfPayments" name="NumberOfPayments" />
        </div>
  
       <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input type="number"  id="Status" placeholder="סטטוס"
            formControlName="Status" name="Status" />
        </div>
  
       <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input type="text"  id="Document" placeholder="צירוף מסמך"
            formControlName="Document" name="Document" />
        </div>
        
        <button class="btn mt-3" type="submit" [disabled]="!eventForm.valid">הוסף</button>

    </form>
   
</div>
