<p>פירוט הכנסות</p>

<table class="table table-success table-striped">
    <thead>
      <tr>
        <th scope="col"> <img style="width: 20px; " title="עריכה" src="../../../../assets/image/Update.png">  </th>
        <th scope="col">תאריך</th>
        <th scope="col">סכום</th>
        <th scope="col">קטגוריה</th>
        <th scope="col">מקור הכנסה </th>
        <th scope="col">פרטים</th>
        <th scope="col">אופן תקבול</th>
        <th scope="col">סטטוס הכנסה</th>
        <th scope="col"> אסמכתא</th>
        <th scope="col">יתרה מצטברת</th>

      </tr>
    </thead>
    <tbody *ngFor="let e of IncomeList; let i=index">
      <tr>
        <th>
        <button style="border:none" onmouseover="this.style.backgroundColor='#046036'" onmouseout="this.style.backgroundColor=null" 
        scope="row" (click)="UpdateIncome(e)"><img style="width: 20px; " title="עריכה" src="../../../../assets/image/Update.png"></button>
        </th>
        <td>{{e.date | date: 'dd/MM/yyyy' }}</td>
        <td>{{e.sum | number: '1.0-0' }}</td>
        <td>{{e.categoryIncomeDetail}}</td>
        <td>{{e.sourceOfIncomeDetail}}</td>
        <td>{{e.detail}}</td>
        <td>{{e.paymentMethodDetail}}</td>
        <td>{{e.statusDetail}}</td>
        <td>{{e.document}}</td>
        <td>{{SumIncomes(i) | number: '1.0-0' }}</td>

      </tr>
  
  
    </tbody>
  
  </table>