<p>פירוט הכנסות</p>

<table class="table table-success table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">תאריך</th>
        <th scope="col">סכום</th>
        <th scope="col">קטגוריה</th>
        <th scope="col">מקור הכנסה </th>
        <th scope="col">פרטים</th>
        <th scope="col">אופן תקבול</th>
        <th scope="col">סטטוס הכנסה</th>
        <th scope="col"> אסמכתא</th>
      </tr>
    </thead>
    <tbody *ngFor="let e of IncomeList; let i=index">
      <tr>
        <th scope="row">{{i+1}}</th>
        <td>{{e.date | date: 'dd/MM/yyyy' }}</td>
        <td>{{e.sum | number: '1.0-0' }}</td>
        <td>{{e.categoryIncomeDetail}}</td>
        <td>{{e.sourceOfIncomeDetail}}</td>
        <td>{{e.detail}}</td>
        <td>{{e.paymentMethodDetail}}</td>
        <td>{{e.statusDetail}}</td>
        <td>{{e.document}}</td>
      </tr>
  
  
    </tbody>
  
  </table>