 <p>update-password works!</p>
<meta charset="utf-8" />
   <div class="wrapper"> 
    <div class="logo"> 
        <img src="../../../../assets/image/Logo.jpg" alt="">
    </div>
        <div class="text-center mt-4 name"> 
        in & out
        </div> 
  <!--  <div>
     האתר בבניה, בינתיים הדף לא פעיל ;)
<img src="../../../../assets/image/home.png" alt="חזרה לדף הבית" href="">
    
</div> -->
      
<form  *ngIf="!IsSend ; else Update" class="p-3 mt-3"  (ngSubmit)="SendPass()" >

 
    <div class="form-field d-flex align-items-center">
        <span class="far fa-user"></span>
        <input type="text"  id="userId" placeholder="ת.ז.הכנס מספר "
        required [(ngModel)]="IdToLogin" name="userId" />
    </div>

    <button class="btn mt-3" type="submit" >שליחת סיסמא למייל</button>

</form>

<ng-template #Update>

<form  class="p-3 mt-3"  (ngSubmit)="UpdateUser()" >

 
    <div class="form-field d-flex align-items-center">
        <span class="far fa-user"></span>
        <input type="text"  id="userId" placeholder="ת.ז.הכנס מספר "
        required [(ngModel)]="IdToLogin" name="userId" />
    </div>


    <div class="form-field d-flex align-items-center">
        <span class="fas fa-key"></span>
        <input type="password"  id="password" placeholder="הכנס סיסמא שנשלחה במייל"
        required [(ngModel)]="PassToLogin" name="password" />
    </div>

      <div class="form-field d-flex align-items-center">
        <span class="fas fa-key"></span>
        <input type="password"  id="password" placeholder="הכנס סיסמא חדשה"
        required [(ngModel)]="PassToUpdate" name="password2" />
    </div>


    <button class="btn mt-3" type="submit" >שיחזור סיסמא</button>

</form>
</ng-template>

<div class="text-center fs-6">
    <a href="SignIn">הרשם </a> או <a href="Login">התחבר </a>

</div>
</div>