 <p>update-password works!</p>
<meta charset="utf-8" />
  <div class="wrapper">
    <div class="logo">
        <img src="../../../../assets/image/Logo.jpg" alt="">
    </div>
    <div class="text-center mt-4 name">
        in & out
    </div>
    
    <form class="p-3 mt-3" [formGroup]="eventForm" (ngSubmit)="UpdatePassword()" >

  <div class="form-field d-flex align-items-center">
            <span class="far fa-user"> מספר ת.ז. </span>
            <input type="text"  id="userId" placeholder="ת.ז."
            formControlName="Id" name="userId" />
        </div>

        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"> 
                  שלום + {{userforUpdate.FirstName}} +" "+ {{userforUpdate.LastName}}
        </span>

        </div>
 
 
        <div class="form-field d-flex align-items-center">
            <span class="fas fa-key"></span>
            <input type="password"  id="Password" placeholder="סיסמא"
            formControlName="Password" name="Password" />

        </div>
        <button class="btn mt-3" type="submit" [disabled]="!eventForm.valid">הרשם</button>

    </form>

</div>
 -->
