<!-- <ul class="nav nav-tabs nav-justified" style="position: sticky, top=0px"> -->
<!-- 
  <ul class="nav nav-pills nav-fill gap-2 p-1 small bg-primary rounded-5 shadow-sm" id="pillNav2" role="tablist" 
  style="--bs-nav-link-color: var(--bs-white); --bs-nav-pills-link-active-color: var(--bs-primary); --bs-nav-pills-link-active-bg: var(--bs-white);">
    <li class="nav-item" role="presentation"> -->

  <ul class="nav nav-pills nav-fill">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page"  (click)="logIn()"> התחבר </a>
 <!-- *ngIf="activeUser.id == '' ; else user"  -->
    </li>
    
    <ng-template #user>

      <li class="nav-item">
        <a class="nav-link disabled" > שלום {{activeUser.firstName}} </a>
      </li>
    <li class="nav-item">
      <a class="nav-link"   (click)="logOut()">התנתק </a>
    </li>  

     </ng-template>

    <!-- <li class="nav-item">
      <a class="nav-link" href="#">Much longer nav link</a>
    </li> -->
    <!-- <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li> -->
    <li class="nav-item">
      <div class="logo">
        <a  routerLink='/'>
        <img src="../../../../assets/image/Logo.jpg" alt="" routerLink='/'></a>
    </div> 
    
  </li>
 
      
    <!-- <li class="nav-item">
      <a class="nav-link"   routerLink="/contact_Us">צור קשר – פניה </a>
    </li> -->


   
    <!-- <li class="nav-item" *ngIf="activeUser.IsManager">
      <a class="nav-link"   routerLink="/Manager">תפריט מנהל </a>
    </li> -->

  
  </ul>


  <router-outlet></router-outlet>