<ul class="nav nav-tabs nav-justified" style="position: sticky, top=10px">

  <li class="nav-item" *ngIf="activeUser.id == undefined">
    <h2 class="btn btn-outline-success2" (click)="logIn()"> התחבר </h2>
  </li>

  <li *ngIf="activeUser.id != undefined" class="nav-item">
    <h2 class="btn btn-outline-success2"> שלום {{activeUser.firstName}}</h2>
  </li>

  <li *ngIf="activeUser.id != undefined" class="nav-item">
    <h2 class="btn btn-outline-success2" (click)="logOut()">התנתק </h2>
  </li>

  <li *ngIf="activeUser.id != undefined" class="nav-item">
    <h2 class="btn btn-outline-success2" routerLink='/ListBudgets'>עבור בין תקציבים </h2>
  </li>

  <li class="nav-item" >
    <h2 class="btn btn-outline-success2" routerLink='/'>לדף הבית</h2>
  </li>

  <li class="nav-item">
    <div class="logo" >
      <img  src="../../../../assets/image/Logo.jpg">
    </div>
  </li>
 <li *ngIf="activeBudget.id != undefined" class="nav-item" style="background-color:#24a056; color: #046036; ">
  <h4 class="btn btn-outline-success2"> {{activeBudget.nameBudget}}</h4>

  </li>


</ul>


<!-- *ngIf="ActiveBudget.id == '' ; else budget"
      <button class="btn btn-outline-success" (click)="ShowAllBudget()" autoClose="outside" [ngbPopover]="listBudget"
        ngbPopoverPlacement="outside" placement="bottom" container="body" popoverClass="mb-3" ngbPopoverContent> עבור
        בין תקציבים </button> -->
<!-- <button type="button" class="btn btn-outline-success"  autoClose="outside" [ngbPopover]="listBudget" ngbPopoverPlacement="outside" 
placement="bottom" container="body" popoverClass="mb-3" ngbPopoverContent>הוספת הוצאהpop</button>
 -->

<!-- <ng-template class="float-start" style="width: 1000rem;" #listBudget>
        <div class="d-grid gap-2 col-6 mx-auto" *ngFor="let b of BudgetList">
          <button type="button" class="btn btn-outline-success" (click)="GoBudget(b)"> {{b.nameBudget}}</button>
        </div>
      </ng-template> -->



<router-outlet></router-outlet>