<meta charset="utf-8" />
  <div class="wrapper">
    <div class="logo">
        <img src="../../../../assets/image/Logo.jpg" alt="">
    </div>
    <div class="text-center mt-4 name">
        in & out
    </div>
    
    <form class="p-3 mt-3" [formGroup]="eventForm" (ngSubmit)="AddUser()" >

 
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input type="text"  id="FirstName" placeholder="שם פרטי"
             formControlName="FirstName" name="FirstName" />
        </div>
 
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input type="text"  id="LastName" placeholder="שם משפחה"
             formControlName="LastName" name="LastName" />
        </div>

   <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input type="text"  id="userId" placeholder="ת.ז."
            formControlName="Id" name="userId" />
        </div>

        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input type="text"  id="Phone" placeholder="טלפון"
            formControlName="Phone" name="Phone" />
        </div>
 
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input type="email"  id="Email" placeholder="מייל"
            formControlName="Email" name="Email" />
        </div>

        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input type="text"  id="DateBirth" placeholder="תאריך לידה"
            formControlName="DateBirth" name="DateBirth" />
        </div>
  
        <div class="form-field d-flex align-items-center">
            <span class="fas fa-key"></span>
            <input type="password"  id="Password" placeholder="סיסמא"
            formControlName="Password" name="Password" />

        </div>
        <button class="btn mt-3" type="submit" [disabled]="!eventForm.valid">הרשם</button>

    </form>
    <div class="text-center fs-6">
        <a href="#">שכחת סיסמא</a> או <a href="#">התחבר </a>
    </div>
</div>