<meta charset="utf-8" />
  <div class="wrapper">
    <div class="logo">
        <img src="../../../../assets/image/Logo.jpg" alt="">
    </div>
    <div class="text-center mt-4 name">
        in & out
    </div>
    
    <form class="p-3 mt-3" [formGroup]="eventForm" (ngSubmit)="AddUser()" >

 
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input type="text"  id="firstName" placeholder="שם פרטי"
             formControlName="firstName" name="firstName" />
        </div>
 
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input type="text"  id="lastName" placeholder="שם משפחה"
             formControlName="lastName" name="lastName" />
        </div>

   <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input type="text"  id="userId" placeholder="ת.ז."
            formControlName="id" name="userId" />
        </div>

        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input type="text"  id="phone" placeholder="טלפון"
            formControlName="phone" name="phone" />
        </div>
 
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input type="email"  id="email" placeholder="מייל"
            formControlName="email" name="email" />
        </div>

        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input type="date"  id="dateBirth" placeholder="תאריך לידה"
            formControlName="dateBirth" name="dateBirth" />
        </div>
  
        <div class="form-field d-flex align-items-center">
            <span class="fas fa-key"></span>
            <input type="password"  id="password" placeholder="סיסמא"
            formControlName="password" name="password" />

        </div>
        <button class="btn mt-3" type="submit" [disabled]="!eventForm.valid">הרשם</button>

    </form>
    <div class="text-center fs-6">
        <a href="UpdatePassword">שכחת סיסמא</a> או <a href="Login">התחבר </a>

    </div>
</div>