<p>new-budget works!</p>
<!-- להוסיף בפונקציה עדכון של טבלת הרשאות -->
<meta charset="utf-8" />
  <div class="wrapper">
    <div class="logo">
        <img src="../../../../assets/image/Logo.jpg" alt="">
    </div>
    <div class="text-center mt-4 name">
        in & out
    </div>
    
    <form class="p-3 mt-3" [formGroup]="eventForm" (ngSubmit)="AddBudget()" >

 
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input type="text"  id="NameBudget" placeholder="כינוי לתקציב"
             formControlName="NameBudget" name="NameBudget" />
        </div>
 <!-- לבחור מתוך תיבה נפתחת -->
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <select [formControlName]="Type" required>
<option>בחר סוג תקציב</option>
<option *ngFor="let t of listTypeBudget" [value]="t">
                    {{t.Detail}}
                  </option>
            </select>
            <!-- <input type="number"  id="TypeBudget" placeholder="סוג תקציב" -->
             <!-- formControlName="TypeBudget" name="TypeBudget" /> -->
             
<!-- 
             <mat-form-field appearance="fill">
                <mat-label>סוג תקציב</mat-label>
                <mat-select [formControl]="animalControl" required>
                  <mat-option>--</mat-option>
                  <mat-option *ngFor="let animal of animals" [value]="animal">
                    {{animal.name}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="animalControl.hasError('required')">Please choose an animal</mat-error>
                <mat-hint>{{animalControl.value?.sound}}</mat-hint>
              </mat-form-field> -->

        </div>

   
        <button class="btn mt-3" type="submit" [disabled]="!eventForm.valid">פתיחת תקציב חדש</button>

    </form>
    <!-- <div class="text-center fs-6">
        <a href="UpdatePassword">שכחת סיסמא</a> או <a href="Login">התחבר </a>

    </div> -->
</div>