<!-- <p>new-budget works!</p> -->

<div class="wrapper">
    <div class="logo">
        <img src="../../../../assets/image/LogoV.jpg" alt="">
    </div>
    <div class="text-center mt-4 name">
        in & out
    </div>

    <form class="p-3 mt-3" [formGroup]="eventForm" (ngSubmit)="AddBudget()">


        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input type="text" id="nameBudget" placeholder="כינוי לתקציב" formControlName="nameBudget"
                name="nameBudget" />
        </div>
        <!-- לבחור מתוך תיבה נפתחת -->
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <select class="far fa-user" type="input" id="typeBudget"  placeholder="סוג תקציב" 
            formControlName="typeBudget" [formControl]="typeBudgetFormControl" required>
                <!-- <option type="number" selected>בחר סוג תקציב</option> -->
                <option type="number" *ngFor="let t of listTypeBudget" [ngValue]=t.id >
                    <label type="number"> {{t.detail}} </label>  
                </option>
            </select>

        </div>


        <button class="btn mt-3" type="submit" [disabled]="!eventForm.valid">פתיחת תקציב חדש</button>

    </form>

</div>