<p>search works!</p>
<!-- 
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.css">
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap-responsive.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.js"></script> -->

<div class="container px-1 px-sm-5 mx-auto">
    <form (ngSubmit)="search()">
        <div class="flex-sm-row flex-column d-flex">
            <div class="col-sm-9 col-12 px-0 mb-2">

                <div class="input-group input-daterange">
                    <input type="checkbox" id="date" placeholder=" סינון לפי תאריך" />
                    <label>סינון לפי תאריך</label>

                    <input type="date" class="form-control" title="תאריך התחלה" required>
                    <input type="date" class="form-control" title="תאריך סיום" required>
                </div>
            </div>

            <div class="col-sm-9 col-12 px-0 mb-2">

                <div class="input-group input-daterange">
                    <input type="checkbox" id="category" placeholder=" סינון לפי קטגוריה" />
                    <label>סינון לפי קטגוריה</label>
                    <select (change)="filterByCategory()" class="form-field d-flex align-items-center"
                        placeholder="בחר קטגוריה" [(ngModel)]="idCategory" formControlName="category" required>
                        <option type="number" *ngFor="let t of listCategory" [ngValue]="t.id" required>
                            <label> {{t.detail}} </label>
                        </option>
                    </select>
                </div>
            </div>

            <div class="col-sm-3 col-12 px-0">
                <button type="submit" class="btn btn-black">סינון</button>
            </div>
        </div>
    </form>
</div>