<meta charset="utf-8" />


<div class="wrapper">
    
    <div class="logo">
        <img src="../../../../assets/image/Logo.jpg" alt="">
    </div>
    <div class="text-center mt-4 name">
        in & out
    </div>

    <form class="p-3 mt-3" [formGroup]="eventForm" (ngSubmit)="checkUser()">

        <div class="form-outline">
        <div class="form-field align-items-center">
            <span class="far fa-user" for="id">הכנס ת.ז.</span>
            <input class="form-control" type="text" id="id" [(ngModel)]="IdToLogin" 
            formControlName="id" name="id" required/>
        </div>
        </div>

        <div class="form-outline">
            <div class="form-field align-items-center">
                <span class="fas fa-key form-label" for="password">הכנס סיסמא</span>
                <input class="form-control" type="text" id="password" [(ngModel)]="PassToLogin" 
                 formControlName="password" name="password" required/>
            </div>
        </div>
        
        <button class="btn mt-3" type="submit" [disabled]="!eventForm.valid">התחבר</button>
    </form>


    <div class="text-center fs-6">
        <a href="UpdatePassword">שכחת סיסמא</a> <a style="color: #25870a;">  או   </a>  <a href="SignIn">אינך רשום </a>
    </div>


</div>