<!-- <p>bank works!</p> -->
 <div class="row">
  
  <div >

    <button class="btn btn-outline-success" (click)="AddBank()">הוספת בנק נוסף לתקציב</button>
    <!-- <app-add-bank *ngIf="addBank" ></app-add-bank> -->
    </div>

<div class="card" style="width: 18rem;" *ngFor="let b of listBanksOfBudget">
    <!-- <a class="nav-link" href="{{b.link}}"><img src="{{b.logo_Bank}}" alt="">
    </a> -->
    
    <div class="text-center mt-4 name">

        <img src="{{b.logo_Bank}}" class="card-img-top" alt="{{b.nameBank}}">
        <div class="card-body">
          <h5 class="card-title">שם הבנק: {{b.nameBank}}</h5>
          <p class="card-text">מספר סניף: {{b.branch_Number}}</p>
          <p class="card-text">מספר חשבון: {{b.account_Number}}</p>

          <button class="btn btn-outline-success" (click)="goToLinkBank(b.link)">התחבר לחשבון</button>
        </div>
      </div>
</div>

    
      <!-- </div> -->

</div>
