<div class="wrapper">

<h5  class="text-center">
        מרגישים שהכסף שלכם מתאדה ולא יודעים לאן?<br /><br />
        יש כאן פתרון בשבילכם!!<br />
        <br /></h5>
    <h1 class="text-center mt-4 name">
        ברוכים הבאים למערכת in & out
    </h1>
    <br />
    <h6 class="text-center">

        ניהול תקציב לעסק או למשפחה ומעקב אחרי הוצאות הוא צעד הכרחי בהחלטה לנהל את ההוצאות <br />
        במקום שהן ינהלו אותנו ולתפיסת השליטה בהתנהלות הפיננסית המשפחתית. <br />
        כשהתקציב מנוהל, לא תופתעו ממינוס בבנק אלא תמצאו דרכים להקטין אותו, <br />
        תמנעו מראש חריגה ממסגרת אשראי והוצאות לא צפויות לא יהפכו למשבר כלכלי. <br />
        <br />
        במערכת זאת תקבלו כלי ניהולי אשר יאפשר לכם לנהל את התקציב, לעקוב אחרי מה שהיה ולצפות את העתיד <br />

    </h6>
    <br />


    <button class="btn mt-3" (click)="Login()">
        <h6> התחבר</h6>
    </button>
    <br />
    <br />
    <button class="btn mt-3" (click)="SignIn()">
        <h6> הירשם</h6>
    </button>
</div>