<meta charset="utf-8" />

<div class="wrapper">

    <form class="p-3 mt-3" [formGroup]="eventForm" (ngSubmit)="AddPermission()">

        <div class="form-field d-flex align-items-center">
            <!-- <span class="far fa-user"><i class="bi bi-person-fill-add"></i> </span> -->
            <input type="text" id="IdUser" placeholder="ת.ז. הכנס מספר "
             formControlName="idUser"  name="IdUser" required />
        </div>


        <!-- בחירה מתוך תיבה נפתחת -->
        <div class="form-field d-flex align-items-center">
            <!-- <span class="far fa-user"> <i class="bi bi-unlock-fill"></i></span> -->
            <select class="form-field d-flex align-items-center" placeholder="בחר רמת הרשאה"
                formControlName="permissionLevel" required>
                <option type="number" *ngFor="let t of listPermissionLevel" [ngValue]="t.id" required>
                    <label> {{t.description}} </label>
                </option>
            </select>
        </div>
        <button class="btn mt-3" type="submit" [disabled]="!eventForm.valid">הוספת הרשאה</button>

    </form>