<!-- <p>add-permission works!</p>

     
<form  class="p-3 mt-3"  (ngSubmit)="AddPermission()" >

 
    <div class="form-field d-flex align-items-center">
        <span class="far fa-user"></span>
        <input type="text"  id="IdUserToPermission" placeholder="ת.ז.הכנס מספר "
        required [(ngModel)]="IdUserToPermission" name="IdUserToPermission" />
    </div>

    -->   
        <!-- בחירה מתוך תיבה נפתחת -->     
           <!--
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <select class="form-field d-flex align-items-center"
             placeholder="בחר רמת הרשאה"  
             required [(ngModel)]="IdPermissionLevel">
                <option type="number" *ngFor="let t of listPermissionLevel" [ngValue]="t.id" required>
                    <label> {{t.detail}} </label>  
                </option>
            </select>
        </div>

    <button class="btn mt-3" type="submit" >הוספת הרשאה</button>

</form> -->
